

body{
    background: rgb(239, 37, 195);
    font-family: Poppins;
}
.kilig img{
    width: 200px;
}

.kilig{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3em;
}